@import url("../public/assets/css/app.css");
@import url("../public/assets/css/universe.css");

@font-face {
	font-family: Aria;
	font-weight: normal;
	src: url(../public/assets/fonts/AriaWeb-Regular.woff);
}

@font-face {
	font-family: Aria;
	font-weight: bold;
	src: url(../public/assets/fonts/AriaWeb-Bold.woff);
}

/* default */

/* Global color variables */
:root {
    --color-dark-blue: #070F2B; /* Very dark blue */
    --color-dark-purple: #1B1A55; /* Dark purple */
    --color-muted-blue: #535C91; /* Muted blue */
    --color-light-purple: #9290C3; /* Light purple */
	--primary-text: #070F2B;

    /* Additional related color variables for gradients and shadows */
    --color-dark-blue-translucent: rgba(7, 15, 43, 0.8); /* Dark blue with some transparency */
    --color-dark-purple-translucent: rgba(27, 26, 85, 0.8); /* Dark purple with some transparency */
    --color-muted-blue-translucent: rgba(83, 92, 145, 0.8); /* Muted blue with some transparency */
    --color-light-purple-translucent: rgba(146, 144, 195, 0.8); /* Light purple with some transparency */
}

/* Example box-shadows using the colors */
.shadow-dark-blue {
    box-shadow: 0px 4px 6px var(--color-dark-blue-translucent);
}

.shadow-dark-purple {
    box-shadow: 0px 4px 6px var(--color-dark-purple-translucent);
}

.shadow-muted-blue {
    box-shadow: 0px 4px 6px var(--color-muted-blue-translucent);
}

.shadow-light-purple {
    box-shadow: 0px 4px 6px var(--color-light-purple-translucent);
}

/* Example gradients using the colors */
.gradient-dark-to-light {
    background: linear-gradient(45deg, var(--color-dark-blue), var(--color-light-purple));
}

.gradient-purple-to-muted {
    background: linear-gradient(45deg, var(--color-dark-purple), var(--color-muted-blue));
}

.gradient-blue-to-muted {
    background: linear-gradient(45deg, var(--color-dark-blue), var(--color-muted-blue));
}


body {
	background:   #7a78ac;
	color: var(--primary-text) !important;
	font-family: Aria;
	direction: rtl;
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-size: 13px;
	overflow-x: hidden;
}

input::placeholder {
	font-family: Aria;
	font-weight: normal;
	text-align: center;
	color: #d9d9d9 !important;
}

button { 
	background-color: var(--color-dark-purple);
	cursor: pointer;
	overflow: hidden;
	border-radius: 30px;
	color: #c5c0c0;
	transition: all 0.5s ease-in-out;
    border: none;
    box-shadow: 1px 2px 200px #8a8888;
}

button:hover{
	background-color: var(--color-muted-blue);
    transition: all 0.8s;
}

.icon {
	display: inline-block;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.icon-atools {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='14' fill='white'%3E%3Cpath d='M0 5.5a.5.5 0 011 0v3a.5.5 0 01-1 0v-3zm12 0a.5.5 0 011 0v3a.5.5 0 01-1 0v-3zm-9-2a.5.5 0 011 0v7a.5.5 0 01-1 0v-7zm6 0a.5.5 0 011 0v7a.5.5 0 01-1 0v-7zm-3-3a.5.5 0 011 0v13a.5.5 0 01-1 0V.5z'/%3E%3C/svg%3E");
	width: 13px;
	height: 14px;
	background-size: 13px 14px;
	background-position: 50% 0;
}

.icon-vtools {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='14' fill='white'%3E%3Cpath fill-rule='evenodd' d='M7 1h3c1.425 0 2.419.001 3.185.08.75.075 1.169.217 1.482.426a3 3 0 01.827.827c.21.313.35.733.427 1.482.078.766.079 1.76.079 3.185s-.001 2.419-.08 3.185c-.075.75-.217 1.169-.426 1.482a3 3 0 01-.827.827c-.313.21-.733.35-1.482.427-.766.078-1.76.079-3.185.079H7c-1.425 0-2.419-.001-3.185-.08-.75-.075-1.169-.217-1.482-.426a3 3 0 01-.827-.827c-.21-.313-.35-.733-.427-1.482C1.001 9.419 1 8.425 1 7s.001-2.419.08-3.185c.075-.75.217-1.169.426-1.482a3 3 0 01.827-.827c.313-.21.733-.35 1.482-.427C4.581 1.001 5.575 1 7 1zM0 7c0-2.809 0-4.213.674-5.222A4 4 0 011.778.674C2.787 0 4.19 0 7 0h3c2.809 0 4.213 0 5.222.674.437.292.812.667 1.104 1.104C17 2.787 17 4.19 17 7c0 2.809 0 4.213-.674 5.222a4.003 4.003 0 01-1.104 1.104C14.213 14 12.81 14 10 14H7c-2.809 0-4.213 0-5.222-.674a4.002 4.002 0 01-1.104-1.104C0 11.213 0 9.81 0 7zm10.467.4a.5.5 0 000-.8L7.8 4.6A.5.5 0 007 5v4a.5.5 0 00.8.4l2.667-2z' clip-rule='evenodd'/%3E%3C/svg%3E");
	width: 17px;
	height: 14px;
	background-size: 17px 14px;
}

.icon-pdftools {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='white' viewBox='0 0 14 14'%3E%3Cpath fill-rule='evenodd' d='M.001 3a3 3 0 013-3H7.26a3 3 0 012.12.879l2.744 2.742A3 3 0 0113 5.743V11a3 3 0 01-3 3h-7a3 3 0 01-3-3V3zm3-2H7v3.5A2.5 2.5 0 009.5 7h2.501v4a2 2 0 01-2 2h-7a2 2 0 01-2-2V3a2 2 0 012-2zm9 5v-.257a2 2 0 00-.586-1.415L8.673 1.586c-.18-.18-.443-.323-.673-.422V4.5A1.5 1.5 0 009.5 6h2.501z' clip-rule='evenodd'/%3E%3C/svg%3E");
	width: 14px;
	height: 14px;
	background-size: 14px 14px;
}

.icon-converters {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' fill='white'%3E%3Cpath fill-rule='evenodd' d='M.218 8.737A7.497 7.497 0 014 2.22v1.183a6.501 6.501 0 003 11.794v1.005A7.5 7.5 0 01.218 8.737zM11 15.482A7.5 7.5 0 007 1.27v1.006a6.5 6.5 0 014 12.072v1.134z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M10.753 12.565a.5.5 0 01.5.5v2.328h2.329a.5.5 0 110 1h-3.329v-3.328a.5.5 0 01.5-.5zM.207 2.726a.5.5 0 00.5.5h2.329v2.328a.5.5 0 001 0V2.226H.707a.5.5 0 00-.5.5z' clip-rule='evenodd'/%3E%3Cpath d='M9.218 8.737a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z'/%3E%3C/svg%3E");
	width: 16px;
	height: 17px;
	background-size: 16px 17px;
	margin-bottom: -4px !important;
}

.icon-utils {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='white'%3E%3Cpath d='M.242 3.786a.482.482 0 01.682 0l1.26 1.26c.103.104.25.154.395.138l1.704-.197.238-1.754a.4796.4796 0 00-.137-.405l-1.25-1.252a.482.482 0 01.68-.681l1.252 1.251c.319.32.47.77.41 1.217L5.22 5.252l8.03 8.03a.482.482 0 11-.682.68L4.533 5.929 2.69 6.14a1.445 1.445 0 01-1.188-.414l-1.26-1.26a.482.482 0 010-.681zm13.859-1.639l-.987-1.016-1.874 1.44a.193.193 0 00-.07.197l.119.503.003.004-2.92 2.92.682.681 2.921-2.922.514.133a.193.193 0 00.202-.07l1.41-1.87zM6.886 10.59l-.682-.682-3.195 3.194a.61.61 0 11-.863-.863l3.195-3.194-.681-.682-3.195 3.195a1.574 1.574 0 102.226 2.226l3.195-3.195z'/%3E%3C/svg%3E");
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
}

.icon-dropdown {
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%23fff' stroke-linecap='round'/%3E%3C/svg%3E");
	width: 10px;
	height: 6px;
}

.icon-logo {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='106' height='18' fill='none'%3E%3Ccircle cx='4' cy='14' r='4' fill='%23FDD835'/%3E%3Ccircle cx='14' cy='14' r='4' fill='%23FF5722'/%3E%3Ccircle cx='14' cy='4' r='4' fill='%2303A9F4'/%3E%3Cpath d='M38.652 6.623c0-.438-.156-.794-.467-1.068-.298-.274-.697-.411-1.198-.411-.515 0-.934.137-1.26.41-.31.261-.5.61-.568 1.049h-3.473c.095-1.343.623-2.445 1.584-3.308C34.231 2.432 35.497 2 37.068 2c1.611 0 2.884.425 3.818 1.274.934.85 1.401 1.918 1.401 3.205 0 .905-.21 1.692-.63 2.363-.42.658-1.028 1.336-1.827 2.035l-3.128 2.712h5.788v3.144H31.808v-2.939l5.422-4.87c.488-.438.847-.828 1.077-1.17.23-.343.345-.72.345-1.13zm-8.895-4.356v14.466H26V2.267h3.757zm13.724 4.13c.122-1.329.697-2.39 1.726-3.185C46.237 2.404 47.475 2 48.924 2c1.543 0 2.782.384 3.716 1.15.948.754 1.422 1.706 1.422 2.857 0 .794-.204 1.459-.61 1.993a3.38 3.38 0 01-1.462 1.13c.677.192 1.273.582 1.787 1.171.528.576.792 1.343.792 2.302 0 1.301-.514 2.363-1.543 3.185-1.03.808-2.363 1.212-4 1.212-1.585 0-2.905-.411-3.961-1.233-1.042-.835-1.611-1.945-1.706-3.329h3.493c.095.425.332.774.71 1.048.38.274.867.411 1.463.411.555 0 1.016-.137 1.381-.41.366-.288.548-.672.548-1.151 0-.48-.19-.843-.568-1.09-.366-.26-.86-.39-1.483-.39h-1.502V7.897h1.218c.569 0 1.015-.123 1.34-.37.339-.26.508-.61.508-1.048 0-.41-.156-.74-.467-.986-.312-.26-.718-.39-1.219-.39-.5 0-.913.123-1.238.37a1.49 1.49 0 00-.569.924h-3.493zm32.449-4.13c1.652 0 2.945.466 3.88 1.397.947.918 1.42 2.117 1.42 3.596 0 1.452-.48 2.651-1.441 3.596-.948.932-2.207 1.397-3.777 1.397H73.92v4.48h-3.635V2.267h5.645zm-.325 3.123H73.92v3.74h1.685c.596 0 1.07-.171 1.422-.514.352-.356.528-.808.528-1.356 0-.561-.176-1.013-.528-1.356-.338-.342-.812-.514-1.422-.514zM88.4 2.267c1.651 0 2.944.466 3.878 1.397.948.918 1.422 2.117 1.422 3.596 0 1.452-.48 2.651-1.442 3.596-.948.932-2.207 1.397-3.777 1.397h-2.092v4.48h-3.635V2.267h5.645zm-.325 3.123h-1.686v3.74h1.686c.595 0 1.07-.171 1.421-.514.352-.356.528-.808.528-1.356 0-.561-.176-1.013-.528-1.356-.338-.342-.812-.514-1.421-.514zm6.431 7.028h3.635c.094.452.331.822.71 1.11.38.273.894.41 1.544.41.609 0 1.083-.13 1.422-.39a1.29 1.29 0 00.507-1.048c0-.712-.487-1.144-1.462-1.294l-2.153-.33c-2.707-.424-4.061-1.814-4.061-4.17 0-1.37.514-2.494 1.543-3.37 1.03-.89 2.342-1.336 3.94-1.336 1.598 0 2.897.397 3.899 1.192 1.016.794 1.611 1.883 1.787 3.267h-3.594c-.258-.918-.955-1.377-2.092-1.377-.528 0-.961.123-1.3.37a1.161 1.161 0 00-.508.986c0 .644.474 1.035 1.422 1.172l2.092.308c1.3.192 2.315.65 3.046 1.377.745.712 1.117 1.684 1.117 2.917 0 1.466-.494 2.63-1.482 3.494-.989.863-2.363 1.294-4.123 1.294-1.652 0-3.006-.411-4.062-1.233-1.056-.835-1.665-1.952-1.827-3.35z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M59.747 12.253v4.481h-3.655V7.97c0-3.29 2.637-5.958 5.89-5.958h.236c3.252 0 5.89 2.667 5.89 5.958v8.764h-3.656v-4.48h-4.705zm0-4.283c0-1.248 1-2.26 2.234-2.26h.237c1.234 0 2.234 1.012 2.234 2.26v1.163h-4.705V7.97z' fill='white'/%3E%3C/svg%3E");
	width: 106px;
	height: 18px;
	background-size: 106px 18px;
}

.main-menu {
	line-height: 1;
	min-height: 50px;
	background-color: #000;
	font-weight: 300;
	z-index: 150;
	overflow: hidden;
}

.main-menu li,
.main-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-menu a,
.main-menu li {
	display: inline-block;
}

.main-menu a {
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.main-menu li:hover a {
	background-color: #212121;
}

.main-menu,
.main-menu ul>li a {
	display: block;
}

.main-menu ul>li a i.icon {
	margin-left: 9px;
}

.main-menu ul>li a i.icon-dropdown {
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 5px;
}

.main-menu ul>li a span.d {
	opacity: 0.5;
	margin-right: 5px;
}

.main-menu ul.level-1 {
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.main-menu ul.level-1>li {
	position: relative;
}

.main-menu ul.level-1>li>a {
	min-height: 50px;
	line-height: 50px;
	padding-right: 15px;
	padding-left: 15px;
}

.main-menu ul.level-1>li>a .icon-left {
	margin-bottom: -3px;
}

.main-menu ul.level-1>li>a i.icon-dropdown {
	transition: transform 0.15s ease-in-out;
	transform: rotate(0deg);
}

.main-menu ul.level-1>li:hover>ul {
	display: block !important;
}

.main-menu ul.level-1>li:hover i.icon-dropdown {
	transform: rotate(180deg);
}

.main-menu ul.level-1>li.more>a i.icon-more {
	margin-left: 0;
	margin-bottom: 1px;
}

.main-menu ul.level-2 {
	display: none;
	white-space: normal;
	min-width: 100%;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 150;
	background-color: #212121;
	transition: margin 0.15s, opacity 0.15s;
	padding-bottom: 5px;
}

.main-menu ul.level-2>li.has-dropdown>a {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='9' fill='%23FFFFFF' viewBox='0 0 6 9'%3E%3Cpath fill-rule='evenodd' d='M.146 8.854a.5.5 0 010-.708L3.793 4.5.146.854A.5.5 0 01.854.146L5.207 4.5.854 8.854a.5.5 0 01-.708 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
	background-position: 5% 50%;
	background-repeat: no-repeat;
}

.main-menu ul.level-2 li {
	width: 100%;
	position: relative;
	display: block;
}

.main-menu ul.level-2 li a {
	white-space: nowrap;
	padding: 10px 15px 10px 60px;
	display: flex;
	align-items: center;
}

.main-menu ul.level-2 li a i.icon {
	margin-left: 10px;
	opacity: 0.5;
}

.main-menu ul.level-2 li a.current {
	color: #ffd433;
}

#language-link:hover>.icon,
.main-menu ul.level-2 li a.current i.icon,
.main-menu ul.level-2>li:hover>a i.icon,
.main-menu ul.level-3>li:hover>a i.icon {
	opacity: 1;
}

.main-menu ul.level-2 li>ul {
	display: none;
}

.main-menu ul.level-2 li:hover>ul,
.main-menu ul.level-3>li {
	display: block;
}

.main-menu ul.level-2>li.atrim_v2 a,
.main-menu ul.level-2>li.vtrim_v2 a {
	padding-left: 30px;
}

.main-menu ul.level-2>li:hover>a,
.main-menu ul.level-3>li:hover>a {
	background-color: #2e2e2e;
}

.main-menu ul.level-3 {
	position: absolute;
	top: 0;
	right: 100%;
	border-right: 1px solid #2e2e2e;
}

.main-menu ul.level-3>li:last-child {
	padding-bottom: 5px;
	background-color: #212121;
}

@media (max-width: 767px),
(pointer: coarse) {
	.main-menu {
		position: absolute;
		top: 50px;
		right: 0;
		left: 0;
	}

	.main-menu ul li {
		width: 100%;
	}

	.main-menu ul.level-1 {
		flex-direction: column;
	}

	.main-menu ul.level-1 i.icon-left,
	.main-menu ul.level-2>li.has-dropdown>a .icon {
		display: none;
	}

	.main-menu ul.level-1>li>a {
		font-size: 18px;
		padding-right: 20px;
	}

	.main-menu ul.level-1>li>a i.icon-dropdown {
		transform: rotate(0deg) !important;
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.5.5l6 6 6-6' stroke='%23fff' stroke-linecap='round'/%3E%3C/svg%3E");
		width: 13px;
		height: 8px;
		margin-right: 15px;
	}

	.main-menu ul.level-1>li.current {
		background-color: #212121;
	}

	.main-menu ul.level-1>li.current>a i.icon-dropdown {
		transform: rotate(180deg) !important;
	}

	.main-menu ul.level-1>li.current a:hover {
		background-color: #2b2b2b;
	}

	.main-menu ul.level-2>li>a {
		font-size: 15px;
		padding-right: 21px;
		padding-top: 11px;
		padding-bottom: 11px;
	}

	.main-menu ul.level-2>li>a i.icon {
		transform: scale(1.1);
		margin-left: 17px;
	}

	.main-menu ul.level-2>li>ul.level-3 {
		display: block;
		position: static;
		border-right: none;
	}

	.main-menu ul.level-2>li.has-dropdown>a {
		background-image: none;
		font-size: 13px;
		opacity: 0.5;
		padding-top: 0;
		padding-bottom: 7px;
	}

	.main-menu ul.level-2>li.has-dropdown:hover>a {
		background-color: transparent;
	}

	.main-menu ul.level-2>li.has-dropdown:hover>a .icon {
		opacity: 0.5;
	}

	.main-menu ul.level-3 a {
		padding-right: 40px !important;
	}

	.main-menu-active {
		display: block !important;
	}

	.main-menu-active ul.level-1>li:hover>ul {
		display: none;
	}

	.main-menu-active ul.level-1>li.current>ul {
		display: block;
	}

	.main-menu-active ul.level-2 {
		position: static;
		background-color: transparent;
	}
}

.cc-window {
	opacity: 1;
	transition: opacity 0.25s ease;
}

.cc-window.cc-invisible {
	opacity: 0;
}

.cc-animate.cc-revoke {
	transition: transform 0.25s ease;
}

.cc-animate.cc-revoke.cc-top {
	transform: translateY(-2em);
}

.cc-animate.cc-revoke.cc-bottom {
	transform: translateY(2em);
}

.cc-animate.cc-revoke.cc-active.cc-bottom,
.cc-animate.cc-revoke.cc-active.cc-top,
.cc-revoke:hover {
	transform: translateY(0);
}

.cc-grower {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.25s;
}

.cc-revoke,
.cc-window {
	position: fixed;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	z-index: 9999;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4;
	background-color: #1a1a1a;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.25);
	color: #fff;
}

.cc-window {
	padding: 25px;
}

.cc-revoke a,
.cc-window a {
	color: #fff;
}

.cc-window.cc-floating {
	padding: 20px;
	max-width: 24em;
	flex-direction: column;
}

.cc-revoke {
	padding: 0.5em;
}

.cc-revoke:hover,
a:hover, {
	text-decoration: underline;
}

.cc-header,
.index-blocks-2 h3 {
	font-size: 18px;
	font-weight: bold;
}

.cc-btn,
.cc-close,
.cc-link,
.cc-revoke {
	cursor: pointer;
}

.cc-link {
	opacity: 1;
	display: inline;
	padding: 0;
	text-decoration: underline;
	color: #fff;
}

.cc-btn {
	display: block;
	text-align: center;
	white-space: nowrap;
	background-color: #2962ff;
	padding: 7px 30px;
	font-weight: bold;
	font-size: 13px;
	border-radius: 3px;
}

.cc-btn:hover {
	background-color: #104fff;
	text-decoration: inherit;
}

.cc-highlight .cc-btn:first-child:focus,
.cc-highlight .cc-btn:first-child:hover {
	background-color: transparent;
	text-decoration: underline;
}

.cc-close {
	display: block;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	font-size: 1.6em;
	opacity: 0.9;
	line-height: 0.75;
}

.cc-close:focus,
.cc-close:hover {
	opacity: 1;
}

.cc-revoke.cc-top {
	top: 0;
	right: 3em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.cc-revoke.cc-bottom {
	bottom: 0;
	right: 3em;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
}

.cc-revoke.cc-left {
	right: 3em;
	left: unset;
}

.cc-revoke.cc-right {
	left: 3em;
	right: unset;
}

.cc-top {
	top: 0;
}

.cc-left {
	right: 0;
}

.cc-right {
	left: 0;
}

.cc-bottom {
	bottom: 0;
}

.cc-floating>.cc-link {
	margin-bottom: 1em;
}

.cc-floating .cc-message {
	display: block;
	margin-bottom: 1em;
}

.cc-window.cc-floating .cc-compliance,
body>.content {
	flex: 1 0 auto;
}

.cc-compliance,
.cc-window.cc-banner {
	align-items: center;
}

.cc-banner.cc-top {
	left: 0;
	right: 0;
	top: 0;
}

.cc-banner.cc-bottom {
	left: 0;
	right: 0;
	bottom: 0;
}

.cc-banner .cc-message {
	display: block;
	flex: 1 1 auto;
	max-width: 100%;
	margin-left: 1em;
}

.cc-compliance {
	display: flex;
	align-content: space-between;
}

.cc-floating .cc-compliance>.cc-btn {
	flex: 1;
}

.cc-btn+.cc-btn {
	margin-right: 0.5em;
}

@media print {

	.cc-revoke,
	.cc-window {
		display: none;
	}
}

.index-blocks {
	width: 900px;
	margin: 40px auto 0;
	display: flex;
	flex-direction: column;
	color: #4d4d4d;
	line-height: 1.4;
	font-size: 15px;
	font-weight: normal;
}

.index-blocks>div {
	box-sizing: border-box;
	padding: 0 20px;
}

.index-blocks .h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 40px;
	color: #000;
}

.index-blocks .one-col,
.index-blocks .two-cols {
	padding-top: 50px;
}

.index-blocks .two-cols {
	display: flex;
	flex-direction: row;
}

.index-blocks .two-cols>div {
	width: 50%;
	box-sizing: border-box;
}

.index-blocks .two-cols>div:first-child {
	padding-left: 90px;
	border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.index-blocks .two-cols>div:last-child {
	padding-right: 90px;
}

.index-blocks .features {
	margin: 35px auto 0;
	justify-content: space-between;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
}

.index-blocks .features>.block {
	display: flex;
	flex-direction: column;
	width: 220px;
	min-width: 220px;
	margin-bottom: 40px;
}

.index-blocks .features>.block>.icon {
	min-height: 40px;
	background-position: 0 0;
	opacity: 0.5;
}

.index-blocks .features>.block>.h,
.index-blocks .features>.block>h3 {
	font-weight: 500;
	font-size: 16px;
	color: #000;
	margin: 0 0 5px;
}

.index-blocks .features>.block>.underline {
	height: 2px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: linear-gradient(to left, #000, transparent);
	opacity: 50%;
	margin-bottom: 15px;
}

.index-blocks .features>.block>.d,
.index-blocks .features>.block>p {
	font-size: 15px;
	color: #4d4d4d;
	margin: 0;
}

.index-blocks .features>.block:nth-child(3n + 1)>.underline {
	background-image: linear-gradient(to left, #ffd000, transparent);
}

.index-blocks .features>.block:nth-child(3n + 2)>.underline {
	background-image: linear-gradient(to left, #ff5b29, transparent);
}

.index-blocks .features>.block:nth-child(3n + 3)>.underline {
	background-image: linear-gradient(to left, #00a7f5, transparent);
}

.index-blocks .howto {
	width: 100%;
}

.index-blocks .howto .blocks {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}

.index-blocks .howto .blocks .block {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

.index-blocks .howto .blocks .block>.number {
	width: 30px;
	height: 30px;
	min-width: 30px;
	min-height: 30px;
	border-radius: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}

.index-blocks .howto .blocks .block>.content {
	margin-right: 20px;
}

.index-blocks .howto .blocks .block>.content>.h {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	color: #000;
}

.index-blocks .howto .blocks .block:nth-child(1)>.number {
	background-color: #ffd000;
}

.index-blocks .howto .blocks .block:nth-child(2)>.number {
	background-color: #ff5b29;
}

.index-blocks .howto .blocks .block:nth-child(3)>.number {
	background-color: #00a7f5;
}

.index-blocks .howto.horizontal .blocks {
	flex-direction: row;
}

.index-blocks .howto.horizontal .blocks .block {
	width: 220px;
	min-width: 220px;
	flex-direction: column;
}

.index-blocks .howto.horizontal .blocks .block>.number {
	margin-bottom: 20px;
}

.index-blocks .howto.horizontal .blocks .block>.content {
	margin-right: 0;
}

.index-blocks .articles a {
	text-decoration: none;
	color: inherit;
}

.index-blocks .articles a:hover {
	text-decoration: underline;
	color: #000;
}

.index-blocks .articles ul {
	margin: 0;
	padding: 0 0 0 20px;
	list-style: none;
}

.index-blocks .articles ul li {
	margin-bottom: 25px;
}

.index-blocks .articles ul li:before {
	content: "•";
	color: #000;
	font-weight: 600;
	display: inline-block;
	width: 1em;
	margin-right: -20px;
	font-size: 20px;
	line-height: 1;
	vertical-align: middle;
	margin-top: -2px;
}

.index-blocks .articles ul li:nth-child(3n + 1):before {
	color: #ffd000;
}

.index-blocks .articles ul li:nth-child(3n + 2):before {
	color: #ff5b29;
}

.index-blocks .articles ul li:nth-child(3n + 3):before {
	color: #00a7f5;
}

.index-blocks .sub .items {
	display: flex;
	flex-wrap: wrap;
}

.index-blocks .sub .items>a {
	outline: 0;
	padding: 8px 25px;
	background: #f1f4f7;
	border-radius: 55px;
	font-size: 14px;
	text-align: center;
	margin-left: 13px;
	margin-bottom: 10px;
	white-space: nowrap;
	color: #000;
	text-decoration: none;
}


.index-blocks .description {
	background-color: #f7f7f7;
	padding: 50px;
	margin: 30px 0;
}

@media (max-width: 900px) {
	.index-blocks {
		width: 600px;
	}

	.index-blocks .features .block {
		width: 260px;
	}

	.index-blocks .two-cols>div:first-child {
		padding-left: 40px;
	}

	.index-blocks .two-cols>div:last-child {
		padding-right: 40px;
	}
}

@media (max-width: 600px) {

	.index-blocks,
	.index-blocks .features,
	.index-blocks .features .block,
	.index-blocks .two-cols>div {
		width: 100%;
	}

	.index-blocks .two-cols {
		flex-direction: column;
	}

	.index-blocks .two-cols>div:first-child {
		border-left: none;
	}

	.index-blocks .two-cols>div:nth-child(2) {
		padding-right: 0;
	}
}

.index-blocks-2 {
	display: flex;
	flex-direction: column;
	line-height: 1.6;
	font-size: 16px;
	font-weight: 400;
	box-sizing: border-box;
}


.index-blocks-2 .block-padding {
	padding: 50px 60px 60px;
}

.block-padding li{
	margin-top: 20px;
	margin-bottom: 20px;
}

.Price-tag{
	font-weight: bold;
	text-align: left;
	color: #151418;
}

.index-blocks-2 .max-width {
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
	width: 940px;
}

@media (max-width: 1060px) {
	.index-blocks-2 .max-width {
		width: auto;
	}
}

.index-blocks-2 h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

.index-blocks-2 h2:not(:first-of-type) {
	margin-top: 25px;
}

.index-blocks-2 p {
	margin: 0;
}

.index-blocks-2 .after {
	margin-top: 30px;
}

.index-blocks-2 .after p {
	margin-bottom: 15px;
}

.index-blocks-2 .after p:last-child,
.index-blocks-2 article>ol li p:last-child,
.index-blocks-2 article>ol li:last-child {
	margin-bottom: 0;
}

.index-blocks-2 .wide-bg {
	padding: 40px 60px;
	background-color: var(--color-light-purple);
	color: #070F2B;
	border-radius: 20px 20px 0 0;
}

.index-blocks-2 .Helper {
	padding: 40px 60px;
	background-color: var(--color-light-purple);
	color: #070F2B;
	border-radius: 20px 20px 20px 20px;
}

.index-blocks-2  .Helper {
	border-radius: 20px 20px 20px 20px !important;
}

.Helper p{
	font-size: 17px;
	color: var(--color-dark-purple);
}

.index-blocks-2 .app-desc {
	display: flex;
	align-items: center;
	line-height: 1.75;
}

.index-blocks-2 .app-desc img {
	margin-right: 25px;
	height: 180px;
}

@media (max-width: 767px) {
	.index-blocks-2 .app-desc {
		flex-direction: column;
		text-align: center;
	}

	.index-blocks-2 .app-desc img {
		margin-bottom: 25px;
		margin-right: 0;
	}
}

.index-blocks-2 .integration .apps {
	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
}

.index-blocks-2 .integration .apps>.app {
	width: calc(33.33% - 30px);
	min-width: 140px;
	padding-right: 30px;
	margin-bottom: 30px;
}

@media (max-width: 767px) {
	.index-blocks-2 .integration .apps>.app {
		width: calc(50% - 30px);
	}
}

.index-blocks-2 .app-plugins {
	display: flex;
	align-items: flex-start;
}

.index-blocks-2 .app-plugins>.logo {
	height: 60px;
	width: 60px;
	margin-right: 20px;
}

.index-blocks-2 .app-plugins>.logo img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.index-blocks-2 .app-plugins>.details .h {
	font-weight: 500;
	font-size: 16px;
	color: #000;
	margin: 0 0 5px;
}

.index-blocks-2 .app-plugins>.details .d {
	font-size: 15px;
	color: #4d4d4d;
	margin: 0;
}

.index-blocks-2 .app-plugins>.details .underline {
	height: 2px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: linear-gradient(to left, #000, transparent);
	opacity: 50%;
	margin-bottom: 15px;
}

.index-blocks .line,
.index-blocks-2 .line {
	width: 100%;
	height: 1px;
	margin: 0;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='1' fill='none' viewBox='0 0 5 1'%3E%3Cpath fill='%23fff' d='M0 0h5v1H0z'/%3E%3Cpath fill='%23000' d='M0 0h1v1H0z'/%3E%3C/svg%3E");
	background-repeat: repeat-x;
	opacity: 0.45;
	color: #00a7f5;
}

.extension-popup {
	background-position: 20px 27px;
	background-repeat: no-repeat;
	position: fixed;
	left: 20px;
	bottom: 20px;
	display: block;
	max-width: 370px;
	padding: 30px 90px 20px 20px;
	box-sizing: border-box;
	background-color: #fff;
	color: #000;
	z-index: 500;
	font-weight: 400;
	font-size: 15px;
	box-shadow: 0 0 22px rgba(0, 0, 0, 0.25);
}

.extension-popup.hidden {
	display: none;
}

.extension-popup.chrome {
	background-image: url(/static/i/browsers/chrome.svg);
}

.extension-popup.firefox {
	background-image: url(/static/i/browsers/firefox.svg);
}

.extension-popup.edge {
	background-image: url(/static/i/browsers/edge.svg);
}

.extension-popup.opera {
	background-image: url(/static/i/browsers/opera.svg);
}

.extension-popup.yandex {
	background-image: url(/static/i/browsers/yandex.svg);
}

.extension-popup .h {
	line-height: 1.35;
	padding-left: 35px;
}

.extension-popup .h>span {
	font-weight: 600;
}

.extension-popup .buttons {
	white-space: nowrap;
	text-align: left;
	margin-top: 10px;
}

.extension-popup .buttons .button {
	outline: 0;
	background-color: transparent;
	border: 0;
	color: #fff;
	cursor: pointer;
	padding: 8px 20px;
	border-radius: 5px;
	display: inline-block;
}

.extension-popup .buttons .button.primary {
	background-color: #2962ff;
	border: 1px solid #2962ff;
	text-decoration: none;
}

.extension-popup .buttons .button.primary:hover {
	background-color: #0041f5;
	border: 1px solid #0041f5;
}

.extension-popup .x {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6.692 6 10.5 9.808l-.692.692L6 6.692 2.192 10.5 1.5 9.808 5.308 6 1.5 2.192l.692-.692L6 5.308 9.808 1.5l.692.692z'/%3E%3C/svg%3E");
	background-size: 12px 12px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	top: 0;
	left: 0;
}

.hidden,
body.pdf-drag-over .root .view {
	display: none !important;
}

.text-center {
	text-align: center !important;
}

.bootstrap .modal,
 {
	display: none;
}

.modal-title{
	font-weight: bold;
}

.under-maintenance {
	display: block;
	text-align: center;
	font-size: 12px;
	padding: 6px 20px;
	background-color: #ffd000;
}

.nobr {
	white-space: nowrap;
}

.strong {
	font-weight: 500;
}


a {
	color: #2962ff;
	text-decoration: none;
}

.input-icon-container {
	position: relative;
}

.input-icon-container i.icon {
	position: absolute;
	opacity: 0.3;
	top: 15px;
	right: 15px;
}

.input-icon-container i.icon-password {
	top: 11px;
}

.input-icon-container i.icon-show-password {
	right: 18px;
	left: auto;
}

.input-icon-container i.icon-show-password:hover {
	opacity: 0.6;
	cursor: pointer;
}

.input-icon-container i.icon-show-password.enabled {
	opacity: 0.85;
}

.input-icon-container input {
	padding-right: 45px !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	color: #000 !important;
}

body>.content .ad .ad-sample {
	display: inline-block;
	background: radial-gradient(circle at 0 50%,
			transparent 20%,
			#ff5b29 21%,
			#ff5b29 34%,
			transparent 35%,
			transparent),
		radial-gradient(circle at 100% 50%,
			transparent 20%,
			#ff5b29 21%,
			#ff5b29 34%,
			transparent 35%,
			transparent) 0 -50px;
	background-size: 75px 100px;
	background-color: #eee;
}

body>.content .ad .ad-sample.pdf-horizontal {
	width: 100%;
	height: 90px;
}

body>.content .ad .ad-sample.horizontal-adaptive {
	height: 90px;
	width: 970px;
}

body>.content .ad .ad-sample.vertical-adaptive {
	height: 600px;
	width: 300px;
}

body>.content .ad.top {
	padding: 35px 15px;
	text-align: center;
	margin: 0 auto;
}

body>.content .ad .remove-ads {
	margin-top: 5px;
}


#language-link {
	margin-right: auto;
	cursor: pointer;
}

#language-link>.icon {
	margin-left: 4px;
	vertical-align: middle;
	opacity: 0.7;
	margin-top: -1px;
}

.remove-ads {
	display: block;
}

.remove-ads a {
	font-size: 11px;
	border-radius: 5px;
	padding: 3px 7px;
	border: 1px solid #d9d9d9;
	color: #262626;
	text-decoration: none;
	white-space: nowrap;
	line-height: 1;
	cursor: pointer;
}

.remove-ads a:hover {
	border-color: #262626;
	background-color: #262626;
	color: #fff;
}


.require-feature {
	text-align: center;
	background-color: #ffd000;
	padding: 10px 25px;
	font-size: 13px;
}

.require-feature a {
	color: inherit;
	font-weight: 500;
	text-decoration: none;
}

.content-padding {
	padding: 40px 20px;
}

.content-padding .content-centered {
	max-width: 860px;
	margin: 0 auto;
}

.icon-confetti {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='url(%23paint0_linear)' d='M6.875 7.729L0 24l16.203-6.944-9.328-9.327z'/%3E%3Cpath fill='%23FEF17F' d='M8.525 9.47L0 24l10.725-12.467-2.2-2.063z'/%3E%3Cpath fill='%23FDD835' d='M6.014 2.043a1.043 1.043 0 11-2.085 0 1.043 1.043 0 012.085 0z'/%3E%3Cpath fill='%2303A9F4' d='M13.736 1.784a1.043 1.043 0 11-2.086 0 1.043 1.043 0 012.086 0z'/%3E%3Cpath fill='%23FF005A' d='M14.778 5.657a1.043 1.043 0 11-2.085 0 1.043 1.043 0 012.085 0z'/%3E%3Cpath fill='%232BC36F' d='M23.986 9.336a1.043 1.043 0 11-2.085 0 1.043 1.043 0 012.085 0z'/%3E%3Cpath fill='%235B59FB' d='M20.859 16.314a1.043 1.043 0 11-2.085 0 1.043 1.043 0 012.085 0z'/%3E%3Cpath fill='%23FF5722' d='M23.986 18.54a1.042 1.042 0 11-2.085 0 1.042 1.042 0 012.085 0z'/%3E%3Cellipse cx='11.68' cy='12.232' fill='%23422B32' rx='2.55' ry='6.606' transform='rotate(-45 11.68 12.232)'/%3E%3Cpath fill='%2303A9F4' d='M18.713 12.367c-2.771-.063-5.43 1.092-6.147 1.981 2.262-.796 6.646-.609 8.16-.312 1.21.237 1.7 1.248 1.747 1.685h1.513c-.016-1.638-1.81-3.276-5.273-3.354z'/%3E%3Cpath fill='%23FE8E01' d='M13.877 9.855c-1.339.436-2.938 1.673-3.152 2.51.954-.798 5.019-1.752 6.75-2.277 1.731-.525 1.194-2.388.769-2.829-.21-.217-.776-.99-.964-1.372.156 0 .94.168 2.899.525 2.47.452 1.865-1.938 1.388-2.55-.352-.45-.104-.945.343-1.217.358-.218 1.525-.17 2.076-.157V1.04c-.311 0-2.748-.135-3.671 1.074-.767 1.003-.059 2.288.33 2.976-.583-.162-2.073-.498-3.365-.545-1.614-.058-1.25 1.658-1.172 1.93.078.273.354.805.918 1.449.433.494.105.9-.135.959-.447.142-1.676.536-3.014.972z'/%3E%3Cpath fill='%232BC36F' d='M7.372 3.685c3.859.342 2.528 4.59 2.024 6.56.776-.453 2.157-1.95 1.943-4.518C11.1 2.853 8.766 2.51 7.372 2.342v1.343z'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='4.265' x2='8.101' y1='14.422' y2='20.384' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDD835'/%3E%3Cstop offset='1' stop-color='%23FDAD35'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
}

.content {
	box-sizing: border-box;
	max-width: 1090px;
	width: 100%;
	padding-right: 40px;
	padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 60px;
}

.content .line {
	height: 1px;
	width: 100%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='4' height='1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h1v1H0z'/%3E%3C/svg%3E");
	background-repeat: repeat-x;
	opacity: 0.2;
}

.content>.line {
	margin-top: 55px;
}

.content .h1 {
	font-size: clamp(38px, 5vw, 54px);
	font-weight: 700;
	line-height: 1;
	margin-bottom: 11px;
	letter-spacing: -2px;
}

.content .h1 .highlight {
	color: #2962ff;
}

.content .d1 {
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;
	color: #070F2B;
	font-size: 18px;
	font-weight: 400;
	background-color: var(--color-light-purple);
	padding: 40px;
	border-radius: 20px;
}

.content .d1 .icon {
	margin-right: 12px;
	vertical-align: -3px;
	cursor: pointer;
	transform: scale(1);
	transition: transform 0.1s ease;
}

.content .d1 .icon:hover {
	transform: scale(1.15);
}

.content .d1 .icon:active {
	transform: scale(0.9);
}

.content .groups {
	margin-bottom: 70px;
}

.content .groups .group {
	margin-top: 70px;
	background-repeat: no-repeat;
}

.content .groups .group .line {
	margin-top: 55px;
}

.content .groups .group .title {
	z-index: 5;
	position: relative;
	font-size: 32px;
	font-weight: 600;
	padding-right: 2px;
}

.content .groups .group .items {
	max-width: 990px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 41px;
}

.content .groups .group .items a.item {
	z-index: 5;
	position: relative;
	text-align: center;
	background-color: var(--color-light-purple);
	box-sizing: border-box;
	color: #070F2B;
	text-decoration: none;
	border-radius: 10px;
	padding-top: 15px;
	cursor: pointer;
	width: 175px;
	min-height: 200px;
	margin-bottom: 23px;
	margin-left: 23px;
}

.content .groups .group .items a.item .img {
	width: 110px;
	height: 110px;
	background-size: 110px;
	background-repeat: no-repeat;
	margin-bottom: 11px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content .groups .group .items a.item .name {
	font-size: 15px;
	white-space: pre-line;
	padding-right: 19px;
	padding-left: 19px;
}

.content .groups .group .items a.item .badge-overlay {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
	z-index: 100;
}

.content .groups .group .items a.item .badge-overlay .badge {
	margin: 0;
	border: none !important;
	color: #ddd;
	padding: 8px 7px 5px;
	font-size: 8px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.25;
	text-transform: uppercase;
	background: var(--color-dark-purple);
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-30%) translateY(0) rotate(315deg);
	transform-origin: top right;
}

.content .groups .group .items a.item .badge-overlay .badge::after,
.content .groups .group .items a.item .badge-overlay .badge::before {
	content: "";
	position: absolute;
	top: 0;
	margin: 0 -1px;
	width: 100%;
	height: 100%;
	background: inherit;
	min-width: 55px;
}

.content .groups .group .items a.item .badge-overlay .badge::before {
	left: 100%;
}

.content .groups .group .items a.item .badge-overlay .badge::after {
	right: 100%;
}

.content .groups .group .items a.item:hover {
	background-color: var(--color-muted-blue-translucent);
}


.content .groups .group:last-child .line {
	display: none;
}

@media (max-width: 594px) {
	.content {
		padding-top: 40px;
		padding-right: 20px;
		padding-left: 20px;
	}

	.content .h1 {
		text-align: center;
		font-size: 48px;
		margin-bottom: 10px;
	}

	.content>.line {
		margin-top: 44px;
	}

	.content .groups .group {
		margin-top: 40px;
		background-image: none !important;
	}

	.content .groups .group .title {
		font-size: 24px;
	}

	.content .groups .group .items,
	.content .groups .group .line {
		margin-top: 30px;
	}

	.content .groups .group .items a.item {
		width: 48%;
		margin-left: 4%;
		margin-bottom: 4%;
	}

	.content .groups .group .items a.item:nth-child(even) {
		margin-left: 0;
	}
}

.table-container {
	overflow-x: auto;
}

.custom-table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	font-size: 18px;
	text-align: left;
}

.custom-table th,
.custom-table td {
	padding: 12px 15px;
}

.custom-table thead tr {
	background-color: #f1f4f7;
	color: #000000;
	text-align: left;
	font-weight: bold;
}

.custom-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.custom-table tbody tr:nth-of-type(even) {
	background-color: #f1f4f7;
}

.custom-table tbody tr:last-of-type {
	border-bottom: 2px solid #ffee55;
}

.custom-table tbody tr:hover {
	background-color: #ffee55;
}

.body_overFlow {
	overflow-x: scroll;
	width: 99%;
}

.uploadMargin {
	margin-bottom: 1rem;
}

.custum-file-upload {
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	gap: 20px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border: 2px dashed #e8e8e8;
	background-color: #212121;
	padding: 1.5rem;
	border-radius: 10px;
	box-shadow: 0px 48px 35px -48px #e8e8e8;
}

.custum-file-upload .icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.custum-file-upload .icon svg {
	height: 80px;
	fill: #e8e8e8;
}

.custum-file-upload .text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.custum-file-upload .text span {
	font-weight: 400;
	color: #e8e8e8;
}

.custum-file-upload input {
	display: none;
}

.newtowr-btn {
	display: flex;
	gap: 1rem;
	align-items: center;
	vertical-align: middle;
	margin-top: 1rem;
}

@media (max-width: 320px) {
	.newtowr-btn {
		display: grid;
		gap: 0.5rem;
	}
}

.input-margin {
	padding-top: 3rem;
}

.custom-loader-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(1, 0, 0, 0.485);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 11111111;
}



.custom-loader {
	border: 16px solid #25252538;
	border-top: 16px solid var(--color-dark-purple);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}


.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}





.pay_button {
	--width: 100px;
	--height: 35px;
	--tooltip-height: 35px;
	--tooltip-width: 90px;
	--gap-between-tooltip-to-button: 18px;
	--button-color: #222;
	--tooltip-color: #fff;
	width: var(--width);
	height: var(--height);
	background: var(--button-color);
	position: relative;
	text-align: center;
	border-radius: 0.45em;
	transition: background 0.3s;
}

.pay_button::before {
	position: absolute;
	content: attr(data-tooltip);
	width: var(--tooltip-width);
	height: var(--tooltip-height);
	background-color: #555;
	font-size: 0.9rem;
	color: #fff;
	border-radius: 0.25em;
	line-height: var(--tooltip-height);
	bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
	right: calc(50% - var(--tooltip-width) / 2);
}

.pay_button::after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #555;
	right: calc(50% - 10px);
	bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.pay_button::after,
.pay_button::before {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
}

.pay_text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pay_button-wrapper,
.pay_text,
.pay_icon {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	color: #fff;
}

.pay_text {
	top: 0;
}

.pay_text,
.pay_icon {
	transition: top 0.5s;
}

.pay_icon {
	color: #fff;
	top: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pay_icon svg {
	width: 24px;
	height: 24px;
}

.pay_button:hover {
	background: #222;
}

.pay_button:hover .pay_text {
	top: -100%;
}

.pay_button:hover .pay_icon {
	top: 0;
}

.pay_button:hover:before,
.pay_button:hover:after {
	opacity: 1;
	visibility: visible;
}

.pay_button:hover:after {
	bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.pay_button:hover:before {
	bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.hellow_clearfix:before,
.hellow_clearfix:after {
	display: table;
	content: "";
}

.hellow_clearfix:after {
	clear: both;
}

.hellow_clearfix button{
	background-color: var(--color-dark-purple) !important;
	color: #c5c0c0 !important;
	font-weight: bold;
	font-family: Aria !important;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
	outline: none;
}

::-moz-placeholder {
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	font-weight: 300;
}

.hellow_container {
	padding: 0 50px 70px;
	margin-top: 200px;
}

.hellow_textcenter {
	text-align: center;
}

.hellow_section1 {
	text-align: center;
	display: table;
	width: 100%;
}

.hellow_section1 .hellow_shtext {
	display: block;
	margin-top: 20px;
}

.hellow_section1 .hellow_seperator {
	border-bottom: 1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.hellow_section1 h1 {
	font-size: 40px;
	color: #000000;
	font-weight: normal;
}

.hellow_section2 {
	width: 1200px;
	margin: 25px auto;
}

.hellow_section2 .hellow_col2 {
	width: 48.71%;
}

.hellow_section2 .hellow_col2.hellow_first {
	float: left;
}

.hellow_section2 .hellow_col2.hellow_last {
	float: right;
}

.hellow_section2 .hellow_col2.hellow_column2 {
	padding: 0 30px;
}

.hellow_section2 span.hellow_collig {
	color: #a2a2a2;
	margin-left: 10px;
	display: inline-block;
	font-size: 16px;
}

.hellow_section2 .hellow_sec2addr {
	display: block;
	line-height: 26px;
	font-size: 16px;
}


.hellow_section2 .hellow_sec2addr p:first-child {
	margin-bottom: 10px;
}

.hellow_section2 .hellow_sec2contactform input[type="text"],
.hellow_section2 .hellow_sec2contactform input[type="email"],
.hellow_section2 .hellow_sec2contactform textarea {
	padding: 18px;
	border: 0;
	background: var(--color-muted-blue);
	overflow: hidden;
	margin: 7px 0;
	margin-top: 50px;
	border-radius: 10px;
	color: #d9d9d9 ;
}

input::placeholder{
	color: #d9d9d9 !important;
}

.hellow_section2 .hellow_sec2contactform textarea {
	width: 100%;
	display: block;
	resize: none;
	color: #d9d9d9 ;
}

.hellow_section2 .hellow_sec2contactform button {
	padding: 15px 40px;
	border: 0;
	font-size: 16px;
	text-transform: uppercase;
	margin: 7px 5px;
	cursor: pointer;
}

.hellow_section2 .hellow_sec2contactform h3 {
	font-weight: normal;
	margin: 20px 0;
	margin-top: 30px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 19px;
}

.hellow_section2 .hellow_col2 {
	width: 50%;
	display: block;
}

@media only screen and (max-width: 1266px) {
	.hellow_section2 {
		width: 100%;
	}
}

@media only screen and (max-width: 960px) {
	.hellow_container {
		padding: 0 30px 70px;
	}

	.hellow_section2 .hellow_col2 {
		width: 100%;
		display: block;
	}

	.hellow_section2 .hellow_col2.hellow_first {
		margin-bottom: 10px;
	}

	.hellow_section2 .hellow_col2.hellow_column2 {
		padding: 0;
	}

	.hellow_sec2map {
		height: 250px !important;
	}
}

@media only screen and (max-width: 768px) {
	.hellow_section2 .hellow_sec2addr {
		font-size: 14px;
	}

	.hellow_section2 .hellow_sec2contactform h3 {
		font-size: 16px;
	}

	.hellow_section2 .hellow_sec2contactform input[type="text"],
	.hellow_section2 .hellow_sec2contactform input[type="email"],
	.hellow_section2 .hellow_sec2contactform textarea {
		padding: 10px;
		margin: 3px 0;
	}

	.hellow_section2 .hellow_sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 420px) {
	.hellow_section1 h1 {
		font-size: 28px;
	}
}

textarea::placeholder{
	font-family: Aria;
}