/* components/Header.module.css */


.header {
  background: linear-gradient(45deg, var(--color-muted-blue), var(--color-dark-purple));
    padding: 1rem;
    border-radius: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
    position: relative;
  }

  .header a {
    text-decoration: none;
    color: #bfbfbf !important;
    cursor: pointer;
  }
  
  .header a:hover {
      text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
      color: #fff !important;
      transition: 1s;
    }
  
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 1rem;
  }
  
  .logo {
    flex-shrink: 0;
  }
  
  .nav {
    margin-right: 60px;
    flex: 1;
    text-align: center;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
  }
  
  .menu li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
  }

  .menu li a:hover{
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    transition: 1s;
  }

  
  .connectWallet {
    cursor: pointer;
  }
  
  .menuToggle {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  @media (min-width: 620px) and (max-width: 1100px) {
    .header{
      margin: 0 !important;
      border: none !important;
      border-radius: 0px;
      position: sticky;
      z-index: 99999;
      width: 100% !important;
    }
    .headerContent{
      gap: 0.5rem;
    }
    .menu{
      gap: 1rem;
    }
    .menu li a{
      font-size: 14px;
    }
    .nav{
      margin-right: 0px;
    }
    .menu li:nth-child(4){
      display: none;
    }
  }

  @media only screen and (max-width: 620px)  {
    .header{
      margin: 0 !important;
      border: none !important;
      border-radius: 0px;
      position: sticky;
      z-index: 99999;
      width: 100% !important;
      box-shadow: none;
    }

    .nav{
      display: none;
    }
  }